* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

.container {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-family: "Rubik", sans-serif;
}
header {
  padding-top: 30px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: #666666;
}
nav {
  padding: 30px 0;
}

.navbar-shrink {
  transition: 0.5s;
  padding: 20px 0;
}
#dark-light {
  border: none;
  background: transparent;
  cursor: pointer;
}
.dark {
  background-color: black;
}

.dark * {
  color: white !important;
}
nav {
  max-width: 1440px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.navbars {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.search {
  position: absolute;
  top: 12px;
  right: 12px;
}
.searchbar {
  position: relative;
  & form {
    & input {
      width: 443px;
      height: 48px;
      padding-top: 12px;
      padding-left: 16px;
      padding-bottom: 12px;
      border-radius: 8px;
      border: 1px solid var(--text-in-field, #ccc);
    }
    & input:active {
      border: 1px solid var(--text-in-field, #ccc);
    }
  }
}
.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  ul {
    li {
      ul {
        position: absolute;

        max-width: 180px;
        background: #fff;
        display: none;

        li {
          max-width: 100%;
          border: 1px solid rgba(0, 0, 0, 0.1);
          transition: 0.5s;
        }
      }
    }
  }
}
.fff {
  display: flex;
  //   justify-content: center;
  align-items: center;
  position: relative;
  color: var(--text-tittle, #fff);
  transition: 0.5s;
  /* Paragraph/Bold/Body - 16px */
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 200% */
}
.nav-items {
  ul {
    li:hover > ul {
      display: initial;
    }
  }
}
.btn1 {
  display: inline-flex;
  padding: 8px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--text-tittle, #fff);
  transition: 0.5s;
  a {
    color: var(--text-tittle, #fff);

    /* Paragraph/Semibold/Body - 16px */
    font-family: Montserrat SemiBold;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 200% */
  }
}
.btn1:hover {
  border-radius: 8px;
  background: var(--primary-pink, #f72585);
  border: #f72585;
  & a:hover {
    color: #fff;
  }
}
.fff:hover {
  color: #000;
}
.par1 {
  padding-top: 120px;
}
.par2 {
  height: 440px;
  background-color: #666666;
  p {
    padding-top: 60px;
    padding-left: 104px;
    color: var(--text-white, #fff);

    /* Paragraph/Semibold/Body - 16px */
    font-family: Montserrat SemiBold;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 200% */
  }
  .p1 {
    color: var(--text-white, #fff);

    /* Heading/Bold/H2 - 64px */
    font-family: Rubik;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 88px; /* 137.5% */
  }
}
.par4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56px;
}
.par7 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  .p3 {
    color: var(--text-tittle, #1c3554);
    font-variant-numeric: lining-nums proportional-nums;
    /* Heading/Bold/H3 - 48px */
    font-family: Rubik;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 63.984px; /* 133.3% */
  }
  .p4 {
    color: var(--text-body, #808080);
    max-width: 552px;
    /* Paragraph/Reguler/Body - 16px */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 168.75% */
  }
  .p5 {
    margin-top: 40px;
    display: flex;
    width: 200px;
    padding: 16px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--primary-pink, #f72585);
    a {
      color: var(--text-white, #fff);

      /* Paragraph/Semibold/Body - 16px */
      font-family: Montserrat SemiBold;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px; /* 200% */
    }
  }
}
.img6 {
  width: 608px;
  height: 517px;

  border-radius: 8px;
  background: var(--text-in-field, #ccc);
}
.par3 {
  padding-top: 96px;
}
.par6 {
  display: flex;
  gap: 8px;
  p {
    color: var(--text-body, #808080);

    /* Paragraph/Semibold/Caption - 14px */
    font-family: Montserrat SemiBold;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
  }
}
.par3 {
  display: flex;
  flex-direction: column;
  gap: 56px;
  .pop {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.lol {
  display: flex;
}
.footer {
  max-width: 1360px;
  height: 435px;
  border-radius: 8px;
  background: var(--other-navy, #021934);
}
.part3 {
  padding-top: 80px;
  padding-left: 68px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.p14 {
  p {
    color: var(--text-white, #fff);
    width: 500px;
    /* Paragraph/Reguler/Body - 16px */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 168.75% */
  }
}
.part4 {
  display: flex;
  gap: 135px;
  padding-top: 80px;
  padding-left: 120px;
}
.p15 {
  a {
    color: var(--text-white, #fff);
    font-variant-numeric: lining-nums proportional-nums;

    /* Heading/Reguler/H5 - 24px */
    font-family: Rubik;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 133.333% */
  }
}
.p16 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 24px;

  a {
    color: var(--text-white, #fff);

    /* Paragraph/Semibold/Body - 16px */
    font-family: Montserrat SemiBold;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 200% */
  }
}
.p17 {
  padding-top: 100px;
  padding-left: 68px;
  display: flex;
  align-items: center;
  gap: 40px;
  p {
    color: var(--text-white, #fff);
    text-align: center;

    /* Paragraph/Reguler/Body - 16px */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 168.75% */
  }
}
.p18 {
  padding-top: 100px;
  color: var(--text-white, #fff);
  text-align: right;
  /* Paragraph/Reguler/Body - 16px */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
}
.flex {
  display: flex;
  gap: 472px;
}
footer {
  padding-top: 160px;
}
#backtop {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 3px 3px 15px 1px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 40px;
  right: 40px;
}
